@font-face {
    font-family: "VAG Rundschrift D";
    src: url(Fonts/VAGRundschriftD.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "VAG Rundschrift D";
}

body{
    background-color: #F0E5E9;
}

main{
    height: 100vh;
    margin-left: 5em;
    margin-right: 5em;
}

header{
    border-radius: 0px 0px 10px 10px;
    background-color: #6A0025;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.navbar{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
    
.navlist{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    flex-grow: 1;
}

.navbutton{
    margin-left: auto;
    padding: 10px 15px;
    background-color: #F0E5E9;
    color: #6A0025;
    border-radius: 10px;
    border: none;
    min-height: 43px;
    font-size: 18px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

li{
    list-style: none;
    
}

li a{
    color:#F0E5E9;
    font-size: 18px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    
    /* moet omlaag als het scherm kleiner wordt*/
}

.nav-toggle {
    display: none; /* Verborgen op grotere schermen */
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 3px 0;
}


h1{
    margin-top: 1em;
    font-weight: 400;
    font-size: 30px;
}

h2{
    font-size: 20px;
    font-weight: 400;
}

.webinar{
    border-radius: 10px;
}

.overview-text{
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    font-family: "Open Sans", sans-serif;
    color: #1F000B;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.overview-name{
    font-family: "Open Sans", sans-serif;
    color: #6A0025;
    font-weight: 400;
    font-size: 16px;
}

/* searchbar */

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
   
   
}

.searchbar{
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border: none;
    border-radius: 10px;
}

.webinar{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 1em;
    margin-top: 1em;
    
}

/* homepage mobile */

.webinar-img{
    border-radius: 10px;
}

.webinars-btn{
    color: #F0E5E9;
    background-color: #6A0025;
    border-radius: 5px;
    padding:5px 43px 5px 43px;
    float: right;
    margin-top: 1em;
    border: none;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

.overview-text{
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    font-family: "Open Sans", sans-serif;
    color: #1F000B;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.overview-name{
    font-family: "Open Sans", sans-serif;
    color: #6A0025;
    font-weight: 400;
    font-size: 16px;
}

.contourings-section{
    margin-top: 4em;
}
.contourings{
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-top: 1em;
}

.contourings-img{
    border-radius: 10px;
}

.webinars-btn{
    color: #F0E5E9;
    background-color: #6A0025;
    border-radius: 5px;
    padding:5px 43px 5px 43px;
    float: right;
    margin-top: 1em;
    border: none;
    font-weight: 700;
    font-family: "Open Sans", sans-serif; 
}




/* desktophomepage */
.featured-text{
    margin-top: 2em;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #1F000B;
}

.featured-name{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #2A000E;
}

.featured-h2{
    font-size: 30px;
    font-weight: 400;
    color: #6A0025; 
    margin-top: 3em;
}

.gynaecology-img{
    float: right;
    max-width: 100%;
    object-fit: contain;
    border-radius: 10px;
}





/* footer */
.desktop-footer{
    background-color: #6A0025;
    display: flex;
    justify-content: space-between;
    color: white;
    flex-wrap: wrap;
}

.info-list{
    display: flex;
    justify-content:center;
    gap: 1em;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    margin-right: 1em;

}

.info-list li:first-of-type::after{
    content: "●";
    margin-left: 1em;
}

.info-list li:nth-of-type(2)::after{
    content: "●";
    margin-left: 1em;
}

.copyright{
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    margin-left: 2.5em;
}


/* footer */
.mobile-footer{
    position: sticky;
    margin-bottom: 0;
    margin-top: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.active{
    color: #6A0025; 
    /* moet ook nog bij ander pagina's */
}

.footer-menu{
    display: flex;
    align-items: center;
    padding: 0;
    gap: 2em;
    list-style: none;
    font-style: none;
}

.sticky-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
}
  
.sticky-footer .nav-item {
    text-align: center;
    color: #6a6a6a
}
  
.sticky-footer .nav-item img {
    width: 24px; 
    height: 24px;
}
  
.sticky-footer .nav-item span {
    display: block;
    font-size: 12px;
    margin-top: 4px;
}

.desktop-footer{
    margin-top: 100%;
    
}



/* Basis container instellingen */
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-sizing: border-box; /* Zorg dat padding meegerekend wordt in breedte */
}


/* Verberg de header bij schermbreedtes kleiner dan 475px */
@media (max-width: 515px) {
    /* .container {
        max-width: 100%;
    } */
    header {
        display: none; /* Verberg de header */
    }
}

/* Layout bij schermbreedtes kleiner dan 768px */
@media (max-width: 845px) {
    .navlist {
        /* flex-direction: column; Stapel links bij kleinere schermen */
        /* align-items: flex-start; Links links uitlijnen */
        display: flex;
        flex-wrap: wrap;
        margin-left: 1em;
        gap: 0.5em;
    }

    .navbutton{
        padding: 0;
    }
    
    li a {
        font-size: 1.2em; /* Maak tekst kleiner op kleinere schermen */
    }

    .navbutton {
        margin-top: 10px; /* Ruimte boven de button */
    }
    
    header {
        flex-direction: column; /* Stapel de header-elementen */
        align-items: flex-start; /* Begin met links uitlijnen */
    }

    main{
        margin-left: 1em;
        margin-right: 1em;
    }

}

@media (max-width: 515px){
    /* .container {
        max-width: 640px; 
    } */
    .desktop-footer {
        display: none !important; /* Verberg footer vanaf deze breedte */
    }

    .featured{
        display: none;
    }
} 

/* Layout bij schermbreedtes groter dan 515px */
@media (min-width: 515px) {
    /* .container {
        max-width: 640px; 
    } */
    .mobile-footer {
        display: none; /* Verberg footer vanaf deze breedte */
    }

    h1{
        display: none;
    }

    .webinars-section, .contourings-section, .webinars-btn{
        display: none;
    }

}

/* Layout bij schermbreedtes kleiner dan 768px */
@media (max-width: 768px) {
    /* .container {
        max-width: 768px;
    } */

    .desktop-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Layout bij schermbreedtes groter dan 1024px */
@media (min-width: 1024px) {
    /* .container {
        max-width: 1024px;
    } */
}

/* Layout bij schermbreedtes groter dan 1280px */
@media (min-width: 1280px) {
    /* .container {
        max-width: 1280px; 
} */
}

/* Layout bij schermbreedtes groter dan 1536px */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
}
}

